---
extends: standard
parserOptions:
  ecmaVersion: 6
  sourceType: script
env:
  node: true
rules:
  indent: ["warn", 2]
  brace-style: off
  key-spacing: off
  comma-dangle: off
  space-before-function-paren: off
plugins:
  - jest
overrides:
  - files: "**/*-spec.js"
    extends:
    - "plugin:jest/all"
